<!DOCTYPE html>
<html lang="zh-cmn-Hans" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/common.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>
</head>
<body ng-app="app">
<div ng-controller="ArticleController"><!--只是为了设置controller，如果在header和article上设置通过一个controller，会无法同步-->

    <div class="modal {{errorModal.state}} bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="errorModal.close()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" ng-bind="errorModal.title"></h4>
                </div>
                <div class="modal-body" ng-bind="errorModal.msg">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="errorModal.close()">关闭</button>
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                </div>
            </div>
        </div>
    </div>
    <header ng-if="showEdit" >
        <nav class="nvabar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="nav navbar-btn center">

                        <button id='edit' type="button" class="btn  btn-primary marginR_2" ng-disabled="btn.edit.disabled" ng-click="btnClick(btn.edit)">
                            <span class="fa fa-pencil marginR_1"></span>编辑
                        </button>
                        <button id='cancel' type="button" class="btn  btn-danger marginR_2 marginL_2" ng-disabled="btn.cancel.disabled" ng-click="btnClick(btn.cancel)">
                            <span class="fa fa-undo marginR_1"></span>取消
                        </button>
                        <button id='save' type="button" class="btn  btn-success marginL_2" ng-disabled="btn.save.disabled" ng-click="btnClick(btn.save);saveContent()">
                            <span class="fa fa-save marginR_1"></span>保存
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <article class="marginT_4">
        <div class="container" ng-init="article.editFlag=false">
            <div class="row">

                <!--title-->
                <div class=" col-md-12 col-sm-12 col-xs-12 "  style="height:50px">
                    <p ng-if="showEdit">
                        <span ng-show="article.title.leftNumFlag">剩余<span ng-bind="article.title.leftNum" class="h4 text-danger"></span>字</span>
                        <span ng-bind="article.title.errorMsg" ng-show="article.title.errorFlag" class="text-danger"></span>
                    </p>
                    <h4 ng-bind="article.title.value" ng-hide="article.editFlag" class="pull-left paddingT_2 paddingH_3"></h4>
                    <div class="form-group {{article.title.errorClass}}" ng-if="showEdit">
                        <input type="text" ng-model="article.title.value" ng-hide="!article.editFlag" ng-focus="calcLeftNum('title')" ng-change="calcLeftNum('title')" ng-blur="article.title.leftNumFlag=false;" maxlength="{{article.title.define.maxLength}}" class="pull-left form-control input-lg col-lg-3 " >
                    </div>

                </div>
                <span ng-bind="article.cDate.value"></span>
                <span ng-bind="article.author.value"></span>
                <hr class="hr-info col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <!--key-->
                <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" style="">
                    <p class="" ng-if="showEdit">
                        <span ng-repeat="key in article.keys.content track by $index" ng-show="key.leftNumFlag">剩余<span ng-bind="key.leftNum" class="h4 text-danger"></span>字</span>
                        <span ng-repeat="key in article.keys.content track by $index" ng-bind="key.errorMsg" ng-show="key.errorFlag" class="text-danger"></span>
                    </p>
                    <p class="text-muted row">
                        <span ng-repeat="key in article.keys.content track by $index" ng-bind="key.value" ng-show="!article.editFlag" class=" marginR_2 col-lg-2 col-md-2 col-sm-3">
                            <!--<span ng-bind="key"></span>-->
                        </span>
                        <span class="col-lg-2 col-md-2 col-sm-3" ng-repeat="key in article.keys.content" ng-show="article.editFlag" ng-if="showEdit">
                            <input type="text"  maxlength="{{article.keys.define.maxLength}}"  ng-model="key.value"  ng-focus="calcLeftNum('keys',$index)" ng-change="calcLeftNum('keys',$index)" ng-blur="key.leftNumFlag=false;" class="form-control input-sm {{key.errorClass}}">
                        </span>
                    </p>

                    <!--<input type="text"  maxlength="{{article.keys.define.maxLength}}"  ng-model="newKey"  ng-focus="calcLeftNum('newKey')" ng-change="calcLeftNum('newKey')" ng-blur="newKey.leftNumFlag=false;" class="form-control input-sm {{article.newKey.errorClass}}">-->
                    <button  class="btn btn-primary fa fa-plus" ng-show="article.editFlag" ng-if="showEdit" ng-click="addNewKey()">添加关键字</button>
                </div>
<!--                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marginT_7">
                    <p>
                        <span ng-show="article.pureContent.leftNumFlag">剩余<span ng-bind="article.pureContent.leftNum" class="h4 text-danger"></span>字</span>
                        <span ng-bind="article.pureContent.errorMsg" ng-show="article.pureContent.errorFlag" class="text-danger"></span>
                    </p>
                    <p ng-bind="article.pureContent.value" ng-hide="article.editFlag"></p>
                    <textarea ng-model="article.pureContent.value" ng-hide="!article.editFlag" maxlength="{{article.pureContent.define.maxLength}}"  ng-focus="calcLeftNum('pureContent')" ng-change="calcLeftNum('pureContent')" ng-blur="article.pureContent.leftNumFlag=false;"></textarea>
                </div>-->

                <!--content-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marginT_7">
                    <!--<p ng-bind="article.pureContent.value" ng-hide="article.editFlag" class="marginT_7"></p>-->

                    <p ng-if="showEdit">
                        <span ng-show="article.pureContent.leftNumFlag">剩余<span ng-bind="article.pureContent.leftNum" class="h4 text-danger"></span>字</span>
                        <span ng-bind="article.pureContent.errorMsg" ng-show="article.pureContent.errorFlag" class="text-danger"></span>
                    </p>
                    <!--<textarea ng-model="article.pureContent.value" ng-hide="!article.editFlag" maxlength="{{article.pureContent.define.maxLength}}"  ng-focus="calcLeftNum('pureContent')" ng-change="calcLeftNum('pureContent')" ng-blur="article.pureContent.leftNumFlag=false;"></textarea>-->
                    <!--<div ng-hide="!article.editFlag" >-->
                    <!--<form action="/article/save" method="post" >-->
                    <!--不能使用ng-if="showEdit"，否则会导致ueditor的holder为空-->
                    <p ng-bind-html="article.htmlContent.value" ng-hide="article.editFlag" class="marginT_7"></p>


                    <div class="" ng-show="article.editFlag"  >
                            <script id="container" name="content" type="text/plain" ng-bind-html="article.htmlContent.value" style="width:100%" ></script>
                        <!--style="width:100%"-->
                    </div>
                    <!--<script id="container" name="content" type="text/plain" ng-bind="article.htmlContent.value"  ></script>-->
                        <!--<button type="submit">submit</button>-->
                    <!--</form>-->

                    <script src="ueditor/ueditor.config.js"></script>
                    <script src="ueditor/ueditor.all.js"></script>
                    <!--</div>-->
                    <!--<button ng-click="saveContent()">save</button>-->
                </div>


                <!--attachment-->
                <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 marginT_7">
                    <span ng-repeat="attachment in article.attachment.value track by $index">
                        <span class="marginL_1 middle  text-muted {{attachment.icon}} " ng-bind="attachment.name"></span>
                        <span class="marginL_1 text-info" ng-bind="attachment.size+'M'"></span>

                        <span class=" fa fa-times  text-danger marginL_1 cursor_pointer " data-toggle="tooltip" data-placement="left" title="删除附件" ng-show="article.editFlag" ng-if="showEdit"></span>
                        <a href="article/download/{{attachment.hashName}}"  >
                            <span  class=" fa  fa-download  text-primary marginL_1 marginR_7 cursor_pointer" data-toggle="tooltip" data-placement="left" title="下载附件" >

                            </span>
                        </a>
                    </span>
                </div>

<div class="marginT_7 col-lg-12 col-md-12 col-sm-12 col-xs-12"><!--因为upload的table使用ng-if，会影响ngf选择文件，所以单独使用一个div-->
                <button ngf-select  ng-model="files" ngf-multiple="true" class="btn btn-primary fa fa-folder-open-o" ng-show="article.editFlag" >添加附件</button>

</div>

    <!--upload attachment-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marginT_7" ng-if="showEdit">
                    <!--<p class="">-->
<!--                    <button ngf-select  ng-model="files" ngf-multiple="true"></button>
                    <button ng-click="upload(filesList)" ng-disabled="filesList.length==0">start</button>-->

                    <!--</p>-->
                    <table class="table table-stripped table-hover table-condensed" ng-show="btn.edit.disabled && (filesList.length>0)">
                        <thead>
                        <tr>
                            <th class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                                编号
                            </th>
                            <th class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
                                文件名
                            </th>
                            <th class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
                                进度
                            </th>
                            <th class="col-lg-2 col-md-3 col-sm-3 col-xs-2">
                                <!--to show progress correctly(progress bar and progress closely)-->
                            </th>
                            <th class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
                                状态
                            </th>
                            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                操作
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class=""  ng-repeat="file in filesList">
                            <td ng-bind="$index+1">
                                <!--{{$index+1}}+1-->
                            </td>
                            <td ng-bind="file.name">

                            </td>
                            <td>
                                <div class="progress center">
                                    <div class="progress-bar {{file.progressBarClass}}" style="width: {{file.uploadPercentage}}%"><span class="" ng-bind="file.uploadPercentage+'%'"></span></div>

                                </div>
                            </td>
                            <td>
                                <span ng-bind="file.loadedSize+'M'"></span>
                                <span ng-bind="'/'+file.roughSize+'M'"></span>
                            </td>
                            <td>
                                <span class="{{uploadStatusConfig[file.status]['css']}}" ng-bind="uploadStatusConfig[file.status].msg+':'+file.errorMsg"></span>
                                <!--<span class="text-muted" ng-show="0==file.status">准备上传</span>-->
                                <!--<span class="text-muted" ng-show="file.status==2">上传中</span>-->
                                <!--<span class="text-info"  ng-show="4==file.status">上传完毕</span>-->
                            </td>
                            <td>
                                <span class=" fa fa-times text-danger cursor_pointer" data-toggle="tooltip" data-placement="left" title="删除" ng-click="removeUploadFile($index)"></span>
                                <span class=" fa fa-stop text-info cursor_pointer" data-toggle="tooltip" data-placement="left" title="暂停" ng-show="1==file.status"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button ng-click="upload(filesList)" ng-disabled="filesList.length==0" class="btn btn-default fa fa-upload marginT_3" ng-show="article.editFlag && filesList.length>0">开始上传</button>
                    <!--<button class="btn btn-primary btn-lg fa fa-ad">添加附件</button>-->
                </div>

                <!--comment-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marginT_7">
                    <div class="pager-header">
                        <h1>评论</h1>
                    </div>
                    <table class="table table-strip table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="comment in article.comment track by $index">
                                <td class="col-lg-1 col-md-1 col-sm-2 col-xs-2 ">
                                    <img src="{{comment.user.thumbnail}}" class="img-thumbnail">
                                    <p ng-bind="comment.user.name" class="center"></p>
                                    <p ng-bind="comment.user.cDate" class="center"></p>
                                </td>
                                <td class="col-lg-11 col-md-11 col-sm-10 col-xs-10 ">
                                    <div class="marginH_4 ">
                                        <p ng-bind="comment.content"></p>
                                    </div>
                                    <div class="marginH_4 marginT_7 text-muted ">
                                        <span class="pull-right marginL_3" ng-bind="comment.mDate"></span>
                                        <a class="pull-right marginL_3" href="#reply">回复</a>
                                        <a class="pull-right cursor_pointer">举报</a>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <!--parination-->
                        <nav>
                            <ul class="pagination">
                                <li class="" ng-show="article.commentPagination.showPrevious" ng-click="readComment(article.commentPagination.curPage-1)">
                                  <span>
                                    <span aria-hidden="true">&laquo;</span>
                                  </span>
                                </li>
                                <li ng-repeat="page in article.commentPagination.pageRange track by $index" class="{{page.active}}"><a href="#" ng-click="readComment(page.pageNo)">{{page.pageNo}}</a></li>
                                <li>
                                    <a href="#" aria-label="Next" ng-show="article.commentPagination.showNext" ng-click="readComment(article.commentPagination.curPage+1)">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <span>第<input type="text" ng-model="article.commentGotoPage" style="width:30px;">页</span>
                        <button class="btn btn-sm btn-default" ng-click="readComment(article.commentGotoPage)">Go</button>
                    </div>

                    <p ng-if="showEdit">
                        <span ng-show="article.pureContent.leftNumFlag">剩余<span ng-bind="article.newComment.leftNum" class="h4 text-danger"></span>字</span>
                        <span ng-bind="article.pureContent.errorMsg" ng-show="article.pureContent.errorFlag" class="text-danger"></span>
                    </p>

                    <textarea  class="form-control"  ng-model="article.newComment.value" ng-change="calcLeftNum('newComment')"><a name="reply"></a></textarea>
                    <button class="btn btn-primary marginT_2" ng-click="addComment()">发表回复</button>
                </div>
            </div>
        </div>
    </article>


    <script src="angular.js"></script>
    <script src="ng-file-upload-shim.min.js"></script>
    <script src="ng-file-upload.min.js"></script>
    <script  src="/javascripts/client/article/articleController.js"></script>
</div>
</body>
</html>