<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">

    <title>错误</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/common.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>


</head>
<body>
<div class="marginT_X">
    <p class="center middle h4">无权执行此操作，请<a href="register">注册</a>或者<a href="login">登录</a></p>
<%=message%>
    <%=error%>
</div>
</body>
</html>
