<!DOCTYPE html>
<html lang="zh-cmn-Hans" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">

    <link rel="stylesheet" href="/stylesheets/common.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>
    <!--<link rel="stylesheet" href="/stylesheets/buttons.css"/>-->
    <title>尚未登录</title>
</head>
<body class="container" ng-app="app">
    <div class="row" ng-controller="notLoginController">
        <!--<span class="h3" style="display:flex;justify-content:center;align:center;align-content:center;font-family:monospace">请先<span ng-click="redirect()" class="text-info cursor_pointer">登录</span>。没有帐号，<a href="register">注册</a></span>-->
        <span class="h3" style="display:flex;justify-content:center;align:center;align-content:center;font-family:monospace">请先<a href="login" class="">登录</a>。没有帐号，<a href="register">注册</a></span>
    </div>
</body>
<!--<script src="/javascripts/lib/angular.min.js"></script>
&lt;!&ndash;<script src="/javascripts/lib/ng-file-upload-shim.min.js"></script>
<script src="/javascripts/lib/ng-file-upload-all.min.js"></script>
<script src="/javascripts/client/inputDefine.js"></script>
<script src="/javascripts/client/generalFunc.js"></script>&ndash;&gt;
<script  src="/javascripts/client/notLogin/notLoginController.js"></script>
<script  src="/javascripts/lib/jquery-1.11.3.min.js"></script>
<script  src="/javascripts/lib/bootstrap.min.js"></script>-->
</html>