<!DOCTYPE html>
<html lang="zh-cmn-Hans" ng-app="app">
    <head>
        <meta charset="UTF-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta content="width=device-width,initial-scale=1" name="viewport">

        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="/stylesheets/common.css"/>
        <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
        <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>

        <title><%= title %></title>
        <base href="/">

    </head>
    <body class="container" >
        <script type="text/ng-template" id="basicInfo">
            <p class="center text-info">用户信息</p>
            <hr>
            <form class="form-horizontal">
                <div class="form-group" ng-repeat="singleInput in input track by $index" ng-class="{'has-error':!singleInput.validateOK,'':singleInput.validateOK}">
                    <label for="{{singleInput.inputName}}" class="col-lg-4 control-label " ng-bind="singleInput.labelName"></label>
                    <div class="col-lg-7 ">
                        <input name="{{singleInput.inputName}}" class="form-control input-sm"  type="text" ng-model="singleInput.curValue" ng-readonly="!globalVar.edit" ng-blur="checkInput($index)">
                    </div>
                    <p class="col-lg-push-4 col-lg-7 text-danger"  ng-bind="singleInput.errorMsg" ng-show="!singleInput.validateOK"></p>
                </div>
            </form>

            <%- include('component/modal') -%>
            <div class="center marginT_7">
                <button class="btn btn-default btn-primary marginL_4" ng-class="{'active':!globalVar.edit,'disabled':globalVar.edit}" ng-click="editBasicInfo()" >修改</button>
                <button class="btn btn-default btn-primary marginL_4" ng-class="{'active':globalVar.edit,'disabled':!globalVar.edit}" ng-click="saveBasicInfo()">保存</button>
                <button class="btn btn-default btn-primary marginL_4" ng-class="{'active':globalVar.edit,'disabled':!globalVar.edit}" ng-click="cancelBasicInfo()">取消</button>
            </div>
        </script>

        <script type="text/ng-template" id="passwordInfo">
            <p class="center text-info">密码信息</p>
            <hr>
            <form class="form-horizontal">
                <div class="form-group" ng-repeat="singleInput in input track by $index" ng-class="{'has-error':!singleInput.validateOK,'':singleInput.validateOK}">
                    <label for="{{singleInput.inputName}}" class="col-lg-4 control-label" ng-bind="singleInput.labelName"></label>
                    <div class="col-lg-7">
                        <input name="{{singleInput.inputName}}" class="form-control input-sm" type="text" ng-model="singleInput.curValue" ng-blur="checkInput($index)">
                    </div>
                    <p class="col-lg-push-4 col-lg-7 text-danger"  ng-bind="singleInput.errorMsg" ng-show="!singleInput.validateOK"></p>
                </div>
            </form>
            <div  class="center marginT_7">
                <button class="btn btn-default btn-primary marginL_4" ng-class="{'active':globalVar.allValidateOK,'disabled':!globalVar.allValidateOK}" ng-click="savePasswordInfo()">保存</button>
                <button class="btn btn-default btn-primary marginL_4" ng-class="{'active':globalVar.allValidateOK,'disabled':!globalVar.allValidateOK}" ng-click="cancelPasswordInfo()">取消</button>
            </div>
            <%- include('component/modal') -%>
        </script>


        <aside class="col-lg-3">
            <ul class="nav nav-pills nav-stacked">
                <a href="personalInfo/basicInfo"> <li>基本信息</li></a>
                <a href="personalInfo/passwordInfo"><li>修改密码</li></a>
            </ul>
        </aside>

        <article class="col-lg-4 ">
            <div ng-view></div>
        </article>


    </body>

    <script src="angular.js"></script>
    <script src="angular-route.min.js"></script>
    <script src="/javascripts/client/personalInfo/personalInfoController.js"></script>
    <script src="/javascripts/client/inputDefine.js"></script>
</html>