<!DOCTYPE html>
<html lang="zh-cmn-Hans" ng-app="app">
    <head>
        <meta charset="UTF-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta content="width=device-width,initial-scale=1" name="viewport">

        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="/stylesheets/common.css"/>
        <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
        <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>
        <link rel="stylesheet" href="angular-ui-tree.min.css"/>

        <title><%= title %></title>

    </head>
    <body >
        <div ng-controller="personalArticleController" ><!--this div just for set controller-->
            <script type="text/ng-template" id="nodes_renderer.html" >
                <div ui-tree-handle class="tree-node tree-node-content" >
                    <span class="" ng-if="node.folder"  ng-click="toggle(this)">
                        <span class="cursor_pointer fa" data-nodrag ng-class="{' fa-caret-right':collapsed ,' fa-caret-down':!collapsed }" ng-click="expandFolder(this)"></span>
                        <span class="cursor_pointer fa" data-nodrag ng-class="{'fa-folder-o':collapsed,'fa-folder-open-o':!collapsed}" style=""></span>
                    </span>
                        <!--ui-tree.css===>padding-left:16px-->
                    <span class="" ng-if="!node.folder" >
                        <span class="cursor_pointer fa {{node.type}}"></span>
                    </span>

                    <a target="_blank"  ng-href="article?id={{node.id}}" ng-if="!node.folder" ng-click="test()"><span ng-bind="node.title" ng-show="!node.edit"></span></a>
                    <span ng-bind="node.title" ng-show="!node.edit" ng-if="node.folder"></span>
                    <input type="text" ng-model="node.title"  ng-show="node.edit"  ng-blur="endRename(this)"/>

                    <span class="" ng-if="node.folder" data-nodrag>
                        <span class="pull-right "  ng-click="deleteFolder(this)" data-toggle="tooltip" data-placement="top" title="删除">
                            <span class="fa fa-minus cursor_pointer"></span>
                        </span>
                    </span>
                    <span class="" ng-if="!node.folder" data-nodrag>
                        <span class="pull-right "  ng-click="deleteArticle(this)" data-toggle="tooltip" data-placement="top" title="删除">
                            <span class="fa fa-minus cursor_pointer"></span>
                        </span>
                    </span>
                    <span class="pull-right " data-nodrag ng-click="startRename(this)" style="margin-right: 8px;" data-toggle="tooltip" data-placement="top" title="更改名称">
                        <span class="fa fa-edit cursor_pointer"></span>
                    </span>
                    <span class="pull-right " data-nodrag ng-click="addNewArticle(this)" style="margin-right: 8px;" ng-show="node.folder" data-toggle="tooltip" data-placement="top" title="新建文件">
                        <span class="fa fa-plus cursor_pointer"></span>
                    </span>
                    <span class="pull-right " data-nodrag ng-click="addNewFolder(this)" style="margin-right: 8px;" ng-show="node.folder" data-toggle="tooltip" data-placement="top" title="新建文件夹">
                        <span class="fa fa-plus-square-o cursor_pointer"></span>
                    </span>
                </div>
                <ol ui-tree-nodes ng-model="node.nodes" ng-class="{hidden: collapsed}" >
                    <li class="" ng-repeat="node in node.nodes " ui-tree-node ng-include="'nodes_renderer.html'" data-collapsed="true">
                    </li>
                </ol>
            </script>
            <div class="modal {{errorModal.state}} bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="errorModal.close()"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel" ng-bind="errorModal.title"></h4>
                        </div>
                        <div class="modal-body" ng-bind="errorModal.msg">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="errorModal.close()">关闭</button>
                            <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                        </div>
                    </div>
                </div>
            </div>
            <aside >
                <div class="row">
                    <div class="col-lg-4" >
                        <div ui-tree="treeOptions" id="tree-root" >
                            <ol ui-tree-nodes  ng-model="data">
                                <li ng-repeat="node in data " ng-include="'nodes_renderer.html'" ui-tree-node data-collapsed="true"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </aside>
            <article>

            </article>
        </div>


        <script src="angular.js"></script>
        <script src="angular-ui-tree.js"></script>
        <!--[if IE 8]>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.min.js"></script>
        <![endif]-->
        <script src="/javascripts/client/personalArticle/personalArticleController.js"></script>
    </body>
</html>