<!DOCTYPE html>
<html lang="zh-cmn-Hans" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/common.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>
</head>
<body class="container">

    <article class="row ">
        <div class="form-group ">
            <div class="col-lg-5 col-lg-push-3">
                <input class="form-control" type="text" ng-model="keyword">

            </div>
            <button class="btn btn-primary col-lg-1 col-lg-push-3">搜索</button>
        </div>

    </article>
    <%- include('component/footer') -%>
    <script src="angular.js"></script>

    <script src="/javascripts/client/searchResult/searchResultController.js"></script>
</body>
</html>