<footer class="container marginT_2">
    <div class="alert-info">
        <hr >
    </div>

    <div class="">
        <p class="h5 text-center">&copy; 2013-<?php echo(date("Y"));?> Search&amp;Share</p>
        <p class="h5 text-center">
            <a href="#" class="hover_cursor_pointer text-info marginH_1">关于SS</a>
            <a href="mailto:wei.ag.zhang@alcatel-sbell.com.cn"><span  class="hover_cursor_pointer text-info marginH_1">联系我们</span></a>
            <a href="mailto:wei.ag.zhang@alcatel-sbell.com.cn?subject=问题反馈"><span  class="hover_cursor_pointer text-info marginH_1">问题反馈</span></a>
        </p>

    </div>

</footer>