<div class="  marginT_2">
  <div class="">
    <ul class="nav nav-tabs nav-tabs-justified h4">
      <li class="active"><a href="#">首页</a></li>
      <li><a href="#">文档列表</a></li>
    </ul>
  </div>
</div>
