
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <ul class="nav nav-tabs nav-tabs-justified h4 ">
      <li class="active" style="cursor:pointer;">test<a href="/main" style="cursor:pointer;">首页</a></li>
      <!--<li><a href="#">文档列表</a></li>-->
    </ul>
    <ul class="nav-test">
      <li>test</li>
    </ul>
  </div>

