<nav class="nvabar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="nav navbar-btn center">

                <button id='edit' type="button" class="btn  btn-primary marginR_2">
                    <span class="fa fa-pencil marginR_1"></span>编辑
                </button>
                <button id='cancel' type="button" class="btn  btn-danger marginR_2 marginL_2">
                    <span class="fa fa-undo marginR_1"></span>取消
                </button>
                <button id='save' type="button" class="btn  btn-success marginL_2">
                    <span class="fa fa-save marginR_1"></span>保存
                </button>

            </div>
        </div>
    </div>
</nav>