
<div class="col-sm-12 col-md-12 col-lg-12">
    <ul class="nav nav-pills size_7 marginV_7">
        <li class="active">
            <a href="/main" id="home">
                扶뒬못
                <!--<span class="fa fa-home  marginR_1" >扶뒬못</span>-->
            </a>
        </li>
    </ul>
    <ul class="nav-test">
        <li>asdfb</li>
    </ul>
</div>
