<div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-6 col-sm-5 col-xs-12">
      <a href="main"><img src="image/logo.png"/></a>
    </div>
      <div class="col-lg-2"></div>
      <!--分割logo和search-->
    <div class="col-lg-5 col-md-6 col-sm-7 col-xs-12 marginT_7">
      <div class="input-group">
        <input class="form-control col-lg-9" type="text" name="search" placeholder="输入搜索内容"/>
        <span class="input-group-btn">
           <button class="btn btn-primary ">搜索</button>
        </span>

      </div>

      <!--暂时不需要高级搜索选项，mongo的聚合可以解决-->
<!--      <label class="radio-inline"><input type="radio" >关键字</label>
      <label class="radio-inline"><input type="radio" >标题</label>
      <label class="radio-inline"><input type="radio" >内容</label>-->

      <!--<div class="form-group has-feedback col-lg-4">-->
        <!--<div class="input-group">-->
          <!--&lt;!&ndash;input-group-addon-primary is added as only input-group-addon provide and bg-primary and text-primary are not work&ndash;&gt;-->
            <!--&lt;!&ndash;<div class=" input-group-addon-primary  ">搜索</div>&ndash;&gt;-->


          <!--<input class="form-control" type="text" placeholder="输入搜索内容"/>-->
        <!--</div>-->
        <!--<span class="glyphicon glyphicon-search  form-control-feedback cursor_pointer"></span>-->
      <!--</div>-->
    </div>
  </div>
</div>