<nav class="nvabar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingV_1">
                <span class="pull-right">
                    <a href="login" class="text-info ">登录</a>
                    |
                    <a href="register" class="text-info " >免费注册</a>


                </span>

            </div>

        </div>
    </div>
</nav>

