<nav class="nvabar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingV_1">
                <span class="pull-right" ng-show="undefined===userInfo">
                    <a href="login" class="text-info ">登录</a>
                    <span class="marginH_2">|</span>
                    <a href="register" class="text-info " >注册</a>


                </span>
                <span class="pull-right" ng-show="true===userInfo.logged">
                    <span class="fa fa-user text-info"><a href="personalInfo" class="text-info marginL_1" ng-bind="userInfo.userName"></a></span>
                    <span class="marginH_2">|</span>
                    <span class="fa fa-sign-out text-info"><a href="" class="text-info marginL_1" ng-click="quit()">退出</a></span>
                </span>
            </div>

        </div>
    </div>
</nav>

